html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.background {
    
}

.title {
    text-align: center;
    padding-top: 20px;
}

.booknowbutton {
    width: 250px;
    height: 80px;
    background-color: #3498db;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
    line-height: 80px;
}

    .booknowbutton span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }

    .booknowbutton:hover {
        background-color: #2980b9;
    }


.booking-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

.form-group {
    margin: 10px 0;
    text-align: left;
}

label {
    display: block;
    text-align: left;
}

input[type="date"],
input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
select,
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.confirmation-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 600px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    font-weight: bold;
}

.custom-back-link {
    color: #000;
    padding: 8px 10px 8px 0;
    font-size: 16px;
    text-decoration: none;
}

.submit-button {
    background: #0077cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.complete-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

.contact-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

.contact-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

.messages-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

.contact-confirmation-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

